<div class="modal-overlay" *ngIf="isVisible">
  <div class="modal">
    <div class="modal-content">
      <h2>Add User Details</h2>
      <form (ngSubmit)="submitForm()" #inboundForm="ngForm">
        <div>
          <label for="name">Full Name:</label>
          <input type="text" id="name" name="name" [(ngModel)]="user.name" required>
        </div>
        <div>
          <label for="username">User Name:</label>
          <input type="text" id="username" name="username" [(ngModel)]="user.username" required>
        </div>
        <div>
          <label for="role">Role:</label>
          <select [(ngModel)]="user.role" id="role" name="role">
            <option *ngFor="let role of roles" [value]="role">{{ role }}</option>
          </select>
        </div>
        <button type="submit" [disabled]="user.name == ''|| user.username == ''|| user.role == ''">Submit</button>
      </form>
      <button (click)="closeDialogAdd()">Close</button>
    </div>
  </div>
</div>
